POSTGRES_DB=ecoterritoire
POSTGRES_USER=ecoterritoire
POSTGRES_PASSWORD=change-this-long-random-password

INFLUXDB_USERNAME=ecoterritoire
INFLUXDB_PASSWORD=change-this-long-random-password
INFLUXDB_ORG=ecoterritoire
INFLUXDB_BUCKET=qualite-air
INFLUXDB_TOKEN=change-this-long-random-token

AUTH_CACHE_TTL_SECONDS=60
ADMIN_SESSION_TTL_SECONDS=28800
